.interactive-table {
  height: 100%;
}

.interactive-table .ant-table-sticky-scroll {
  display: none;
}

.controls {
  padding: 10px;
  display: flex;
  align-items: center;
}

.controls > .buttons-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
